extends base 

head
#page
  header.version_1
    .layer
    // Mobile menu overlay mask
    .main_header
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.d-lg-flex.align-items-center
            #logo
              a(href='index.html')
                img(src='img/logo.svg' alt='' width='100' height='35')
          nav.col-xl-6.col-lg-7
            a.open_close(href='javascript:void(0);')
              .hamburger.hamburger--spin
                .hamburger-box
                  .hamburger-inner
          .col-xl-3.col-lg-2.d-lg-flex.align-items-center.justify-content-end.text-right
            a.phone_top(href='tel://9438843343')
              strong
                span Need Help?
                | +94 423-23-221
        // /row
    // /main_header
    .main_nav.Sticky
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.col-md-3
            nav.categories
              ul.clearfix
                li
                  span
                    a(href='#')
                      span.hamburger.hamburger--spin
                        span.hamburger-box
                          span.hamburger-inner
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Categories
                  #menu
                    ul
                      li
                        span
                          a(href='#0') Collections
                      li
                        span
                          a(href='#') Men
                      li
                        span
                          a(href='#') Women
                      li
                        span
                          a(href='#') Boys
                      li
                        span
                          a(href='#') Girls
                      li
                        span
                          a(href='#') Customize
          .col-xl-6.col-lg-7.col-md-6.d-none.d-md-block
            .custom-search-input
              input(type='text' placeholder='Search over 10.000 products')
              button(type='submit')
                i.header-icon_search_custom
          .col-xl-3.col-lg-2.col-md-3
            ul.top_tools
              li
                .dropdown.dropdown-cart
                  a.cart_bt(href='cart.html')
                    strong 2
                  .dropdown-menu
                    ul
                      li
                        a(href='product-detail.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/1.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Air x Fear
                            | $90.00
                        a.action(href='#0')
                          i.ti-trash
                      li
                        a(href='product-detail.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/2.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Okwahn II
                            | $110.00
                        a.action(href='0')
                          i.ti-trash
                    .total_drop
                      .clearfix
                        strong Total
                        span $200.00
                      a.btn_1.outline(href='cart.html') View Cart
                      a.btn_1(href='checkout.html') Checkout
                // /dropdown-cart
              li
                a.wishlist(href='#0')
                  span Wishlist
              li
                .dropdown.dropdown-access
                  a.access_link(href='account.html')
                    span Account
                  .dropdown-menu
                    a.btn_1(href='account.html') Sign In or Sign Up
                    ul
                      li
                        a(href='track-order.html')
                          i.ti-truck
                          | Track your Order
                      li
                        a(href='account.html')
                          i.ti-package
                          | My Orders
                      li
                        a(href='account.html')
                          i.ti-user
                          | My Profile
                      li
                        a(href='help.html')
                          i.ti-help-alt
                          | Help and Faq
                // /dropdown-access
        // /row
      .search_mob_wp
        input.form-control(type='text' placeholder='Search over 10.000 products')
        input.btn_1.full-width(type='submit' value='Search')
      // /search_mobile
    // /main_nav
  // /header
  main
    #carousel-home
      .owl-carousel.owl-theme
        .owl-slide.cover(style=`background-image: url(img/slides/${slides[0]});`)
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-end
                .col-lg-6.static
                  .slide-text.text-right.white
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | Max 720 Sage Low
                    p.owl-slide-animated.owl-slide-subtitle
                      | Limited items available at this price
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
        // /owl-slide
        .owl-slide.cover(style='background-image: url(img/slides/slide_home_1.jpg);')
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-start
                .col-lg-6.static
                  .slide-text.white
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | VaporMax Flyknit 3
                    p.owl-slide-animated.owl-slide-subtitle
                      | Limited items available at this price
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
        // /owl-slide
        .owl-slide.cover(style='background-image: url(img/slides/slide_home_3.jpg);')
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(255, 255, 255, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-start
                .col-lg-12.static
                  .slide-text.text-center.black
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | Monarch IV SE
                    p.owl-slide-animated.owl-slide-subtitle
                      | Lightweight cushioning and durable support with a Phylon midsole
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
          // /owl-slide
      #icon_drag_mobile
    // /carousel
    ul#banners_grid.clearfix
      li
        a.img_container(href='#0')
          img.lazy(src='img/banners_cat_placeholder.jpg' data-src=`img/banner/${banner[2]}` alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Men&apos;s Collection
            div
              span.btn_1 Shop Now
      li
        a.img_container(href='#0')
          img.lazy(src=`img/banner/${banner[0]}` data-src='img/banner_2.jpg' alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Womens&apos;s Collection
            div
              span.btn_1 Shop Now
      li
        a.img_container(href='#0')
          img.lazy(src='img/banners_cat_placeholder.jpg' data-src='img/banner_3.jpg' alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Kids&apos;s Collection
            div
              span.btn_1 Shop Now
    // /banners_grid
    .container.margin_60_35
      .main_title
        h2 Yonex
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .owl-carousel.owl-theme.products_carousel
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/4.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 ACG React Terra
            .price_box
              span.new_price $110.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/5.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Zoom Alpha
            .price_box
              span.new_price $140.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/8.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Color 720
            .price_box
              span.new_price $120.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Okwahn II
            .price_box
              span.new_price $90.00
              span.old_price $170.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Wildwood ACG
            .price_box
              span.new_price $75.00
              span.old_price $155.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
      // /products_carousel
    // /container
    .container.margin_60_35
      .main_title
        h2 Victor
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .owl-carousel.owl-theme.products_carousel
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/4.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 ACG React Terra
            .price_box
              span.new_price $110.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/5.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Zoom Alpha
            .price_box
              span.new_price $140.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/8.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Color 720
            .price_box
              span.new_price $120.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Okwahn II
            .price_box
              span.new_price $90.00
              span.old_price $170.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Wildwood ACG
            .price_box
              span.new_price $75.00
              span.old_price $155.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
      // /products_carousel
    // /container
    .bg_gray
      .container.margin_30
        #brands.owl-carousel.owl-theme
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_1.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_2.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_3.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_4.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_5.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_6.png' alt='')
#toTop
// Back to top button
// COMMON SCRIPTS
script(src='js/common_scripts.min.js')
script(src='js/main.js')
// SPECIFIC SCRIPTS
script(src='js/carousel-home.min.js')
