doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Ansonika')
  title Allaia | Bootstrap eCommerce Template - ThemeForest
  // Favicons
  link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
  link(rel='apple-touch-icon' type='image/x-icon' href='img/apple-touch-icon-57x57-precomposed.png')
  link(rel='apple-touch-icon' type='image/x-icon' sizes='72x72' href='img/apple-touch-icon-72x72-precomposed.png')
  link(rel='apple-touch-icon' type='image/x-icon' sizes='114x114' href='img/apple-touch-icon-114x114-precomposed.png')
  link(rel='apple-touch-icon' type='image/x-icon' sizes='144x144' href='img/apple-touch-icon-144x144-precomposed.png')
  // GOOGLE WEB FONT
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap' rel='stylesheet')
  // BASE CSS
  link(href='css/bootstrap.custom.min.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  // SPECIFIC CSS
  link(href='css/home_1.css' rel='stylesheet')
  // YOUR CUSTOM CSS
  link(href='css/custom.css' rel='stylesheet')
#page
  header.version_1
    .layer
    // Mobile menu overlay mask
    .main_header
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.d-lg-flex.align-items-center
            #logo
              a(href='index.html')
                img(src='img/logo.svg' alt='' width='100' height='35')
          nav.col-xl-6.col-lg-7
            a.open_close(href='javascript:void(0);')
              .hamburger.hamburger--spin
                .hamburger-box
                  .hamburger-inner
            // Mobile menu button
            .main-menu
              #header_menu
                a(href='index.html')
                  img(src='img/logo_black.svg' alt='' width='100' height='35')
                a#close_in.open_close(href='#')
                  i.ti-close
              ul
                li.submenu
                  a.show-submenu(href='javascript:void(0);') Home
                  ul
                    li
                      a(href='index.html') Slider
                    li
                      a(href='index-2.html') Video Background
                    li
                      a(href='index-3.html') Vertical Slider
                    li
                      a(href='index-4.html') GDPR Cookie Bar
                li.megamenu.submenu
                  a.show-submenu-mega(href='javascript:void(0);') Pages
                  .menu-wrapper
                    .row.small-gutters
                      .col-lg-3
                        h3 Listing grid
                        ul
                          li
                            a(href='listing-grid-1-full.html') Grid Full Width
                          li
                            a(href='listing-grid-2-full.html') Grid Full Width 2
                          li
                            a(href='listing-grid-3.html') Grid Boxed
                          li
                            a(href='listing-grid-4-sidebar-left.html') Grid Sidebar Left
                          li
                            a(href='listing-grid-5-sidebar-right.html') Grid Sidebar Right
                          li
                            a(href='listing-grid-6-sidebar-left.html') Grid Sidebar Left 2
                          li
                            a(href='listing-grid-7-sidebar-right.html') Grid Sidebar Right 2
                      .col-lg-3
                        h3 Listing row &amp; Product
                        ul
                          li
                            a(href='listing-row-1-sidebar-left.html') Row Sidebar Left
                          li
                            a(href='listing-row-2-sidebar-right.html') Row Sidebar Right
                          li
                            a(href='listing-row-3-sidebar-left.html') Row Sidebar Left 2
                          li
                            a(href='listing-row-4-sidebar-extended.html') Row Sidebar Extended
                          li
                            a(href='product-detail-1.html') Product Large Image
                          li
                            a(href='product-detail-2.html') Product Carousel
                          li
                            a(href='product-detail-3.html') Product Sticky Info
                      .col-lg-3
                        h3 Other pages
                        ul
                          li
                            a(href='cart.html') Cart Page
                          li
                            a(href='checkout.html') Check Out Page
                          li
                            a(href='confirm.html') Confirm Purchase Page
                          li
                            a(href='account.html') Create Account Page
                          li
                            a(href='track-order.html') Track Order
                          li
                            a(href='help.html') Help Page
                          li
                            a(href='help-2.html') Help Page 2
                          li
                            a(href='leave-review.html') Leave a Review
                      .col-lg-3.d-xl-block.d-lg-block.d-md-none.d-sm-none.d-none
                        .banner_menu
                          a(href='#0')
                            img.img-fluid.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/banner_menu.jpg' width='400' height='550' alt='')
                    // /row
                  // /menu-wrapper
                li.submenu
                  a.show-submenu(href='javascript:void(0);') Extra Pages
                  ul
                    li
                      a(href='header-2.html') Header Style 2
                    li
                      a(href='header-3.html') Header Style 3
                    li
                      a(href='header-4.html') Header Style 4
                    li
                      a(href='header-5.html') Header Style 5
                    li
                      a(href='404.html') 404 Page
                    li
                      a(href='sign-in-modal.html') Sign In Modal
                    li
                      a(href='contacts.html') Contact Us
                    li
                      a(href='about.html') About 1
                    li
                      a(href='about-2.html') About 2
                    li
                      a(href='modal-advertise.html') Modal Advertise
                    li
                      a(href='modal-newsletter.html') Modal Newsletter
                li
                  a(href='blog.html') Blog
                li
                  a(href='#0') Buy Template
            // /main-menu
          .col-xl-3.col-lg-2.d-lg-flex.align-items-center.justify-content-end.text-right
            a.phone_top(href='tel://9438843343')
              strong
                span Need Help?
                | +94 423-23-221
        // /row
    // /main_header
    .main_nav.Sticky
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.col-md-3
            nav.categories
              ul.clearfix
                li
                  span
                    a(href='#')
                      span.hamburger.hamburger--spin
                        span.hamburger-box
                          span.hamburger-inner
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Categories
                  #menu
                    ul
                      li
                        span
                          a(href='#0') Collections
                        ul
                          li
                            a(href='listing-grid-1-full.html') Trending
                          li
                            a(href='listing-grid-2-full.html') Life style
                          li
                            a(href='listing-grid-3.html') Running
                          li
                            a(href='listing-grid-4-sidebar-left.html') Training
                          li
                            a(href='listing-grid-5-sidebar-right.html') View all Collections
                      li
                        span
                          a(href='#') Men
                        ul
                          li
                            a(href='listing-grid-6-sidebar-left.html') Offers
                          li
                            a(href='listing-grid-7-sidebar-right.html') Shoes
                          li
                            a(href='listing-row-1-sidebar-left.html') Clothing
                          li
                            a(href='listing-row-3-sidebar-left.html') Accessories
                          li
                            a(href='listing-row-4-sidebar-extended.html') Equipment
                      li
                        span
                          a(href='#') Women
                        ul
                          li
                            a(href='listing-grid-1-full.html') Best Sellers
                          li
                            a(href='listing-grid-2-full.html') Clothing
                          li
                            a(href='listing-grid-3.html') Accessories
                          li
                            a(href='listing-grid-4-sidebar-left.html') Shoes
                      li
                        span
                          a(href='#') Boys
                        ul
                          li
                            a(href='listing-grid-6-sidebar-left.html') Easy On Shoes
                          li
                            a(href='listing-grid-7-sidebar-right.html') Clothing
                          li
                            a(href='listing-row-3-sidebar-left.html') Must Have
                          li
                            a(href='listing-row-4-sidebar-extended.html') All Boys
                      li
                        span
                          a(href='#') Girls
                        ul
                          li
                            a(href='listing-grid-1-full.html') New Releases
                          li
                            a(href='listing-grid-2-full.html') Clothing
                          li
                            a(href='listing-grid-3.html') Sale
                          li
                            a(href='listing-grid-4-sidebar-left.html') Best Sellers
                      li
                        span
                          a(href='#') Customize
                        ul
                          li
                            a(href='listing-row-1-sidebar-left.html') For Men
                          li
                            a(href='listing-row-2-sidebar-right.html') For Women
                          li
                            a(href='listing-row-4-sidebar-extended.html') For Boys
                          li
                            a(href='listing-grid-1-full.html') For Girls
          .col-xl-6.col-lg-7.col-md-6.d-none.d-md-block
            .custom-search-input
              input(type='text' placeholder='Search over 10.000 products')
              button(type='submit')
                i.header-icon_search_custom
          .col-xl-3.col-lg-2.col-md-3
            ul.top_tools
              li
                .dropdown.dropdown-cart
                  a.cart_bt(href='cart.html')
                    strong 2
                  .dropdown-menu
                    ul
                      li
                        a(href='product-detail-1.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/1.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Air x Fear
                            | $90.00
                        a.action(href='#0')
                          i.ti-trash
                      li
                        a(href='product-detail-1.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/2.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Okwahn II
                            | $110.00
                        a.action(href='0')
                          i.ti-trash
                    .total_drop
                      .clearfix
                        strong Total
                        span $200.00
                      a.btn_1.outline(href='cart.html') View Cart
                      a.btn_1(href='checkout.html') Checkout
                // /dropdown-cart
              li
                a.wishlist(href='#0')
                  span Wishlist
              li
                a#sign-in.access_link(href='#sign-in-dialog')
                  span Account
              li
                a.btn_search_mob(href='javascript:void(0);')
                  span Search
              li
                a.btn_cat_mob(href='#menu')
                  #hamburger.hamburger.hamburger--spin
                    .hamburger-box
                      .hamburger-inner
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Categories
        // /row
      .search_mob_wp
        input.form-control(type='text' placeholder='Search over 10.000 products')
        input.btn_1.full-width(type='submit' value='Search')
      // /search_mobile
    // /main_nav
  // /header
  main
    #carousel-home
      .owl-carousel.owl-theme
        .owl-slide.cover(style='background-image: url(img/slides/slide_home_2.jpg);')
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-end
                .col-lg-6.static
                  .slide-text.text-right.white
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | Max 720 Sage Low
                    p.owl-slide-animated.owl-slide-subtitle
                      | Limited items available at this price
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
        // /owl-slide
        .owl-slide.cover(style='background-image: url(img/slides/slide_home_1.jpg);')
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-start
                .col-lg-6.static
                  .slide-text.white
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | VaporMax Flyknit 3
                    p.owl-slide-animated.owl-slide-subtitle
                      | Limited items available at this price
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
        // /owl-slide
        .owl-slide.cover(style='background-image: url(img/slides/slide_home_3.jpg);')
          .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(255, 255, 255, 0.5)')
            .container
              .row.justify-content-center.justify-content-md-start
                .col-lg-12.static
                  .slide-text.text-center.black
                    h2.owl-slide-animated.owl-slide-title
                      | Attack Air
                      br
                      | Monarch IV SE
                    p.owl-slide-animated.owl-slide-subtitle
                      | Lightweight cushioning and durable support with a Phylon midsole
                    .owl-slide-animated.owl-slide-cta
                      a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
          // /owl-slide
      #icon_drag_mobile
    // /carousel
    ul#banners_grid.clearfix
      li
        a.img_container(href='#0')
          img.lazy(src='img/banners_cat_placeholder.jpg' data-src='img/banner_1.jpg' alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Men&apos;s Collection
            div
              span.btn_1 Shop Now
      li
        a.img_container(href='#0')
          img.lazy(src='img/banners_cat_placeholder.jpg' data-src='img/banner_2.jpg' alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Womens&apos;s Collection
            div
              span.btn_1 Shop Now
      li
        a.img_container(href='#0')
          img.lazy(src='img/banners_cat_placeholder.jpg' data-src='img/banner_3.jpg' alt='')
          .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
            h3 Kids&apos;s Collection
            div
              span.btn_1 Shop Now
    // /banners_grid
    .container.margin_60_35
      .main_title
        h2 Top Selling
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .row.small-gutters
        .col-6.col-md-4.col-xl-3
          .grid_item
            figure
              span.ribbon.off -30%
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/1.jpg' alt='')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
              .countdown(data-countdown='2019/05/15')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air x Fear
            .price_box
              span.new_price $48.00
              span.old_price $60.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.off -30%
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
              .countdown(data-countdown='2019/05/10')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Okwahn II
            .price_box
              span.new_price $90.00
              span.old_price $170.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.off -50%
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
              .countdown(data-countdown='2019/05/21')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air Wildwood ACG
            .price_box
              span.new_price $75.00
              span.old_price $155.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.new New
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/4.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor ACG React Terra
            .price_box
              span.new_price $110.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.new New
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/5.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air Zoom Alpha
            .price_box
              span.new_price $140.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.new New
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/6.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air Alpha
            .price_box
              span.new_price $130.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.hot Hot
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/7.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air Max 98
            .price_box
              span.new_price $115.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
        .col-6.col-md-4.col-xl-3
          .grid_item
            span.ribbon.hot Hot
            figure
              a(href='product-detail-1.html')
                img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/8.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Armor Air Max 720
            .price_box
              span.new_price $120.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /col
      // /row
    // /container
    .featured.lazy(data-bg='url(img/featured_home.jpg)')
      .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
        .container.margin_60
          .row.justify-content-center.justify-content-md-start
            .col-lg-6.wow(data-wow-offset='150')
              h3
                | Armor
                br
                | Air Color 720
              p Lightweight cushioning and durable support with a Phylon midsole
              .feat_text_block
                .price_box
                  span.new_price $90.00
                  span.old_price $170.00
                a.btn_1(href='listing-grid-1-full.html' role='button') Shop Now
    // /featured
    .container.margin_60_35
      .main_title
        h2 Featured
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .owl-carousel.owl-theme.products_carousel
        .item
          .grid_item
            span.ribbon.new New
            figure
              a(href='product-detail-1.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/4.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 ACG React Terra
            .price_box
              span.new_price $110.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            span.ribbon.new New
            figure
              a(href='product-detail-1.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/5.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Air Zoom Alpha
            .price_box
              span.new_price $140.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            span.ribbon.hot Hot
            figure
              a(href='product-detail-1.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/8.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Air Color 720
            .price_box
              span.new_price $120.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            span.ribbon.off -30%
            figure
              a(href='product-detail-1.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Okwahn II
            .price_box
              span.new_price $90.00
              span.old_price $170.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
        .item
          .grid_item
            span.ribbon.off -50%
            figure
              a(href='product-detail-1.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail-1.html')
              h3 Air Wildwood ACG
            .price_box
              span.new_price $75.00
              span.old_price $155.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
      // /products_carousel
    // /container
    .bg_gray
      .container.margin_30
        #brands.owl-carousel.owl-theme
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_1.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_2.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_3.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_4.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_5.png' alt='')
          // /item
          .item
            a(href='#0')
              img.owl-lazy(src='img/brands/placeholder_brands.png' data-src='img/brands/logo_6.png' alt='')
          // /item
        // /carousel
      // /container
    // /bg_gray
    .container.margin_60_35
      .main_title
        h2 Latest news
        span Blog
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .row
        .col-lg-6
          a.box_news(href='blog.html')
            figure
              img.lazy(src='img/blog-thumb-placeholder.jpg' data-src='img/blog-thumb-1.jpg' alt='' width='400' height='266')
              figcaption
                strong 28
                | Dec
            ul
              li by Mark Twain
              li 20.11.2017
            h4 Pri oportere scribentur eu
            p
              | Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....
        // /box_news
        .col-lg-6
          a.box_news(href='blog.html')
            figure
              img.lazy(src='img/blog-thumb-placeholder.jpg' data-src='img/blog-thumb-2.jpg' alt='' width='400' height='266')
              figcaption
                strong 28
                | Dec
            ul
              li By Jhon Doe
              li 20.11.2017
            h4 Duo eius postea suscipit ad
            p
              | Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....
        // /box_news
        .col-lg-6
          a.box_news(href='blog.html')
            figure
              img.lazy(src='img/blog-thumb-placeholder.jpg' data-src='img/blog-thumb-3.jpg' alt='' width='400' height='266')
              figcaption
                strong 28
                | Dec
            ul
              li By Luca Robinson
              li 20.11.2017
            h4 Elitr mandamus cu has
            p
              | Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....
        // /box_news
        .col-lg-6
          a.box_news(href='blog.html')
            figure
              img.lazy(src='img/blog-thumb-placeholder.jpg' data-src='img/blog-thumb-4.jpg' alt='' width='400' height='266')
              figcaption
                strong 28
                | Dec
            ul
              li By Paula Rodrigez
              li 20.11.2017
            h4 Id est adhuc ignota delenit
            p
              | Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....
        // /box_news
      // /row
    // /container
  // /main
  footer.revealed
    .container
      .row
        .col-lg-3.col-md-6
          h3(data-target='#collapse_1') Quick Links
          #collapse_1.collapse.dont-collapse-sm.links
            ul
              li
                a(href='about.html') About us
              li
                a(href='help.html') Faq
              li
                a(href='help.html') Help
              li
                a(href='account.html') My account
              li
                a(href='blog.html') Blog
              li
                a(href='contacts.html') Contacts
        .col-lg-3.col-md-6
          h3(data-target='#collapse_2') Categories
          #collapse_2.collapse.dont-collapse-sm.links
            ul
              li
                a(href='listing-grid-1-full.html') Yonex
              li
                a(href='listing-grid-2-full.html') Lining
              li
                a(href='listing-grid-1-full.html') Furniture
              li
                a(href='listing-grid-3.html') Glasses
              li
                a(href='listing-grid-1-full.html') Shoes
              li
                a(href='listing-grid-1-full.html') Watches
        .col-lg-3.col-md-6
          h3(data-target='#collapse_3') Contacts
          #collapse_3.collapse.dont-collapse-sm.contacts
            ul
              li
                i.ti-home
                | Linh Trung, Thu Duc
                br
                | HCM
              li
                i.ti-headphone-alt
                | 0905 871 254
              li
                i.ti-email
                a(href='#0') trminh36@gmail.com
        .col-lg-3.col-md-6
          h3(data-target='#collapse_4') Keep in touch
          #collapse_4.collapse.dont-collapse-sm
            #newsletter
              .form-group
                input#email_newsletter.form-control(type='email' name='email_newsletter' placeholder='Your email')
                button#submit-newsletter(type='submit')
                  i.ti-angle-double-right
            .follow_us
              h5 Follow Us
              ul
                li
                  a(href='#0')
                    img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/twitter_icon.svg' alt='')
                li
                  a(href='#0')
                    img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/facebook_icon.svg' alt='')
                li
                  a(href='#0')
                    img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/instagram_icon.svg' alt='')
                li
                  a(href='#0')
                    img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/youtube_icon.svg' alt='')
      // /row
      hr
      .row.add_bottom_25
        .col-lg-6
          ul.footer-selector.clearfix
            li
              img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/cards_all.svg' alt='' width='198' height='30')
        .col-lg-6
          ul.additional_links
            li
              a(href='#0') Terms and conditions
            li
              a(href='#0') Privacy
            li
              span &copy; 2020 HCMUS
  // /footer
// page
#toTop
// Back to top button
// Sign In Modal
#sign-in-dialog.zoom-anim-dialog.mfp-hide
  .modal_header
    h3 Sign In
  form
    .sign-in-wrapper
      a.social_bt.facebook(href='#0') Login with Facebook
      a.social_bt.google(href='#0') Login with Google
      .divider
        span Or
      .form-group
        label Email
        input#email.form-control(type='email' name='email')
        i.ti-email
      .form-group
        label Password
        input#password.form-control(type='password' name='password' value='')
        i.ti-lock
      .clearfix.add_bottom_15
        .checkboxes.float-left
          label.container_check
            | Remember me
            input(type='checkbox')
            span.checkmark
        .float-right.mt-1
          a#forgot(href='javascript:void(0);') Forgot Password?
      .text-center
        input.btn_1.full-width(type='submit' value='Log In')
        | &#x9;&#x9;&#x9;&#x9;&#x9;Don&rsquo;t have an account? 
        a(href='account.html') Sign up
      #forgot_pw
        .form-group
          label Please confirm login email below
          input#email_forgot.form-control(type='email' name='email_forgot')
          i.ti-email
        p
          | You will receive an email containing a link allowing you to reset your password to a new preferred one.
        .text-center
          input.btn_1(type='submit' value='Reset Password')
  // form
// /Sign In Modal
// COMMON SCRIPTS
script(src='js/common_scripts.min.js')
script(src='js/main.js')
// SPECIFIC SCRIPTS
script(src='js/carousel-home.js')
