<!-- START APP HEADER -->
<div class="app-header">
    <div class="container container-boxed">
        <ul class="app-header-buttons visible-mobile">
            <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>                    
        </ul>
        <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>

        <ul class="app-header-buttons pull-right">
            <li><a href="#" class="btn btn-link btn-icon"><span class="icon-cog"></span></a></li>
            <li><a href="#" class="btn btn-default">Log Out</a></li>
        </ul>
    </div>
</div>
<!-- END APP HEADER  -->