<div class="app-navigation-horizontal margin-bottom-15">    
    <div class="container container-boxed">
        <nav>
            <ul>
                <li>
                    <a href="#"><span class="icon-earth"></span> My Account</a>
                    <ul>
                        <li><a href="pages-bank-main.html">My Cards</a></li>                        
                        <li><a href="pages-bank-deposits.html">My Deposits</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-sync"></span> Activity</a>
                    <ul>
                        <li><a href="pages-bank-activity.html">Recent Activity</a></li>
                        <li><a href="#">Swift Activity</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-cog"></span> Settings</a>
                    <ul>
                        <li><a href="pages-bank-settings.html">Account</a></li>
                        <li><a href="pages-bank-security.html">Security</a></li>                                                
                    </ul>
                </li>                
            </ul>
        </nav>
    </div>
</div>