<div class="app-navigation-horizontal margin-bottom-15">    
    <div class="container container-boxed">
        <nav>
            <ul>
                <li class="active">
                    <a href="index.html"><span class="icon-laptop-phone"></span> Dashboard</a>
                    <ul>
                        <li class="active"><a href="#">Statistics</a></li>
                        <li><a href="#">Visitors</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Customers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-archive2"></span> Navigation Item 1</a>                
                    <ul>
                        <li><a href="#">Sub Element 1-1</a></li>
                        <li><a href="#">Sub Element 1-2</a></li>
                        <li><a href="#">Sub Element 1-3</a></li>
                        <li><a href="#">Sub Element 1-4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-user-plus"></span> Another Item 2</a>                
                    <ul>
                        <li><a href="#">Another Sub 2-1</a></li>
                        <li><a href="#">Another Sub 2-2</a></li>
                        <li><a href="#">Another Sub 2-3</a></li>
                        <li><a href="#">Another Sub 2-4</a></li>
                        <li><a href="#">Another Sub 2-5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-calendar-full"></span> Perfect Item 3</a>                
                    <ul>
                        <li><a href="#">Perfect Sub 3-1</a></li>
                        <li><a href="#">Perfect Sub 3-2</a></li>
                        <li><a href="#">Perfect Sub 3-3</a></li>
                        <li><a href="#">Perfect Sub 3-4</a></li>
                        <li><a href="#">Perfect Sub 3-5</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>