<div class="app-navigation-mobile">
    <ul>
        <li><a href="index.html"><span class="icon-home"></span> Home</a></li>
        <li><a href="#"><span class="icon-lamp"></span> About Us</a></li>
        <li><a href="#"><span class="icon-picture3"></span> Portfolio</a></li>
        <li><a href="#"><span class="icon-map-marker"></span> Contacts</a></li>
        <li><a href="#"><span class="icon-lifebuoy"></span> Support</a></li>
        <li><a href="#"><span class="icon-exit-right"></span> Sign Up</a></li>
    </ul>
</div>