extends base

block append head 
  link(href="/css/cart.css" rel="stylesheet")
block content
  header.version_1
  main.bg_gray
    .container.margin_30
      .page_header
        .breadcrumbs
        h1 Giỏ hàng
      // /page_header
      table#cart-table.table.table-striped.cart-list
        thead
          tr
            th
              | Sản phẩm
            th
              | Giá
            th
              | Số lượng
            th
              | Tổng
            th
        tbody
          // content row product
          
      .row.add_top_30.flex-sm-row-reverse.cart_actions
        .col-sm-12
          .apply-coupon
            .form-group.form-inline
              input.form-control(type='number' name='coupon-code' value='' placeholder='Promo code')
              button.btn_1.outline(type='button') Mã khuyến mãi
      // /cart_actions
    // /container
    .box_cart
      .container
        .row.justify-content-end
          .col-xl-4.col-lg-4.col-md-6
            ul
              li
                span Tổng tiền sản phẩm
                |  $240.00
              li
                span Phí vận chuyển
                |  $7.00
              li
                span Tổng cộng
                |  $247.00
            a.btn_1.full-width.cart(href='/checkout') Tiến hành đặt hàng

  script(src="/js/common_scripts.min.js")
  script(src="/js/main.js")
