extends base

block append head 
  link(href="/css/cart.css" rel="stylesheet")
block content
  header.version_1
  main.bg_gray
    .container.margin_30
      .page_header
        .breadcrumbs
        h1 Giỏ hàng
      // /page_header
      table#cart-table.table.table-striped.cart-list
        thead
          tr
            th
              | Sản phẩm
            th
              | Giá
            th
              | Số lượng
            th
              | Tổng
            th
        tbody
          // content row product
          

      // /cart_actions
    // /container
    .box_cart
      .container
        .row.justify-content-end
          .col-xl-4.col-lg-4.col-md-6
            ul
              li(style="display:flex; justify-content: space-between;")
                span Tổng tiền sản phẩm
                span#totalPrice 0
              li(style="display:flex; justify-content: space-between;")
                span Phí vận chuyển
                span#transportFee 0
              li(style="display:flex; justify-content: space-between;")
                span Tổng cộng
                span#summaryTotalPrice 0
                
            a.btn_1.full-width.cart(href='/checkout') Tiến hành đặt hàng

  script(src="/js/common_scripts.min.js")
  script(src="/js/main.js")
