extends base

block content
  header.version_1
  main.bg_gray
    .container.margin_30
      .page_header
        .breadcrumbs
        h1 Giỏ hàng
      // /page_header
      table.table.table-striped.cart-list
        thead
          tr
            th
              | Sản phẩm
            th
              | Giá
            th
              | Số lượng
            th
              | Tổng
            th
        tbody#cart-table
          // content row product
          
      .row.add_top_30.flex-sm-row-reverse.cart_actions
        .col-sm-4.text-right
          button.btn_1.gray(type='button') Update Cart
        .col-sm-8
          .apply-coupon
            .form-group.form-inline
              input.form-control(type='text' name='coupon-code' value='' placeholder='Promo code')
              button.btn_1.outline(type='button') Apply Coupon
      // /cart_actions
    // /container
    .box_cart
      .container
        .row.justify-content-end
          .col-xl-4.col-lg-4.col-md-6
            ul
              li
                span Subtotal
                |  $240.00
              li
                span Shipping
                |  $7.00
              li
                span Total
                |  $247.00
            a.btn_1.full-width.cart(href='cart-2.html') Proceed to Checkout
  
  script(src="/js/cart.js")