extends base

block append head 
    link(href="css/checkout.css" rel="stylesheet")
block content
  main.bg_gray
    .container.margin_30
      .page_header
        h1 Xác nhận thông tin thanh toán
      // /page_header
      .row
        .col-lg-4.col-md-6
          .step.first
            h3 1. Thông tin thanh toán
            .tab-content.checkout
              #tab_1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab_1')

                .form-group
                  input.form-control(type='text' placeholder='Tên người nhận hàng')
                // /row
                .form-group
                  input.form-control(type='text' placeholder='Địa chỉ nhận hàng')
                .form-group
                  input.form-control(type='text' placeholder='Tỉnh/Thành phố')
                // /row
                .form-group
                  input.form-control(type='text' placeholder='SĐT nhận hàng')
              // /tab_1
              
              // /tab_2
          // /step
        .col-lg-4.col-md-6
          .step.middle.payments
            h3 2. Thanh toán và vận chuyển
             h6.pb-2 Phương thức thanh toán
            ul
              li
                label.container_radio
                  | Thanh toán khi nhận hàng
                  a.info(href='#0' data-toggle='modal' data-target='#payments_method')
                  input(type='radio' name='payment' checked='')
                  span.checkmark

            h6.pb-2 Phương thức vận chuyển
            ul
              li
                label.container_radio
                  | Vận chuyển tiết kiệm
                  a.info(href='#0' data-toggle='modal' data-target='#payments_method')
                  input(type='radio' name='shipping' checked='')
                  span.checkmark
              li
                label.container_radio
                  | Vận chuyển nhanh
                  a.info(href='#0' data-toggle='modal' data-target='#payments_method')
                  input(type='radio' name='shipping')
                  span.checkmark
          // /step
        .col-lg-4.col-md-6
          .step.last
            h3 3. Xác nhận đơn hàng
            .box_general.summary
              ul
                li.clearfix
                  a(href="")
                    em 1x Armor Air X Fear
                  span $145.00
              ul
                li.clearfix
                  em
                    strong Tổng giá
                  span $450.00
                li.clearfix
                  em
                    strong Vận chuyển
                  span $0
              .total.clearfix
                | TỔNG CỘNG
                span $450.00
            
              a.btn_1.full-width(href='/confirm') Xác nhận và thanh toán