extends base

block append head
  link(href="/css/checkout.css" rel="stylesheet")

block content
  main.bg_gray
    .container
      .row.justify-content-center
        .col-md-5
          #confirm
            .icon.icon--order-success.svg.add_bottom_15
              svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72')
                g(fill='none' stroke='#8EC343' stroke-width='2')
                  circle(cx='36' cy='36' r='35' style='stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;')
                  path(d='M17.417,37.778l9.93,9.909l25.444-25.393' style='stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;')
            h2 Đặt hàng thành công
            p Bạn sẽ nhận được email thông 