extends base

block content
  main
    .container.margin_60_35
      .row.justify-content-center
        .col-lg-8
          .write_review
            h1= `Đánh giá ${racket.name}`
            form#form_review
              .rating_submit
                .form-group
                  label.d-block Đánh giá chung
                  span.rating.mb-0
                    input#1_star.rating-input(type='radio' name='rating-input' value='1')
                    label.rating-star(for='1_star')
                    input#2_star.rating-input(type='radio' name='rating-input' value='2')
                    label.rating-star(for='2_star')
                    input#3_star.rating-input(type='radio' name='rating-input' value='3')
                    label.rating-star(for='3_star')
                    input#4_star.rating-input(type='radio' name='rating-input' value='4')
                    label.rating-star(for='4_star')
                    input#5_star.rating-input(type='radio' name='rating-input' value='5')
                    label.rating-star(for='5_star')
                // /rating_submit
                .form-group
                  label Tiêu đề
                  input#title-review.form-control(type='text' placeholder='Bạn cảm thấy sản phẩm thế nào?')
                .form-group
                  label Nhận xét
                  textarea#content-review.form-control(style='height: 180px;' maxlength="200" placeholder='Nhận xét của bạn sẽ giúp ít người mua sau')
            
                button.btn_1(type='submit') Đăng nhận xét