extends base 

block content
  main.bg_gray
    .container.margin_30
      .page_header
        .breadcrumbs
          ul
            li
              a(href='#') Home
            li
              a(href='#') Category
            li Page active
        h1 Reset Password
      // /page_header
      .row.justify-content-center
        .col-xl-6.col-lg-6.col-md-8
          .box_account
            h3.client Reset password
            form(action='' method='POST')
              .form_container
                .form-group
                  input#password.form-control(type='password' name='password' placeholder='New password*')
                .form-group
                  input#conform_password.form-control(type='password' name='conform_password' value='' placeholder='Conform password*')
                .text-center
                  input.btn_1.full-width(type='submit' value='Reset password')
            // /form_container
          // /box_account
      // /row
    // /container
  // /main