extends base

block content
  header.version_1
    .layer
    // Mobile menu overlay mask
    .main_header
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.d-lg-flex.align-items-center
            #logo
              a(href='index.html')
                img(src='img/logo.svg' alt='' width='100' height='35')
          nav.col-xl-6.col-lg-7
            a.open_close(href='javascript:void(0);')
              .hamburger.hamburger--spin
                .hamburger-box
                  .hamburger-inner
            // Mobile menu button
            .main-menu
              #header_menu
                a(href='index.html')
                  img(src='img/logo_black.svg' alt='' width='100' height='35')
                a#close_in.open_close(href='#')
                  i.ti-close
              ul
                li.submenu
                  a.show-submenu(href='javascript:void(0);') Home
                  ul
                    li
                      a(href='index.html') Slider
                    li
                      a(href='index-2.html') Video Background
                    li
                      a(href='index-3.html') Vertical Slider
                    li
                      a(href='index-4.html') GDPR Cookie Bar
                li.megamenu.submenu
                  a.show-submenu-mega(href='javascript:void(0);') Pages
                  .menu-wrapper
                    .row.small-gutters
                      .col-lg-3
                        h3 Listing grid
                        ul
                          li
                            a(href='listing-grid-1-full.html') Grid Full Width
                          li
                            a(href='listing-grid-2-full.html') Grid Full Width 2
                          li
                            a(href='listing-grid-3.html') Grid Boxed
                          li
                            a(href='listing-grid-4-sidebar-left.html') Grid Sidebar Left
                          li
                            a(href='listing-grid-5-sidebar-right.html') Grid Sidebar Right
                          li
                            a(href='listing-grid-6-sidebar-left.html') Grid Sidebar Left 2
                          li
                            a(href='listing-grid-7-sidebar-right.html') Grid Sidebar Right 2
                      .col-lg-3
                        h3 Listing row &amp; Product
                        ul
                          li
                            a(href='listing-row-1-sidebar-left.html') Row Sidebar Left
                          li
                            a(href='listing-row-2-sidebar-right.html') Row Sidebar Right
                          li
                            a(href='listing-row-3-sidebar-left.html') Row Sidebar Left 2
                          li
                            a(href='listing-row-4-sidebar-extended.html') Row Sidebar Extended
                          li
                            a(href='product-detail-1.html') Product Large Image
                          li
                            a(href='product-detail-2.html') Product Carousel
                          li
                            a(href='product-detail-3.html') Product Sticky Info
                      .col-lg-3
                        h3 Other pages
                        ul
                          li
                            a(href='cart.html') Cart Page
                          li
                            a(href='checkout.html') Check Out Page
                          li
                            a(href='confirm.html') Confirm Purchase Page
                          li
                            a(href='account.html') Create Account Page
                          li
                            a(href='track-order.html') Track Order
                          li
                            a(href='help.html') Help Page
                          li
                            a(href='help-2.html') Help Page 2
                          li
                            a(href='leave-review.html') Leave a Review
                      .col-lg-3.d-xl-block.d-lg-block.d-md-none.d-sm-none.d-none
                        .banner_menu
                          a(href='#0')
                            img.img-fluid.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-src='img/banner_menu.jpg' width='400' height='550' alt='')
                    // /row
                  // /menu-wrapper
                li.submenu
                  a.show-submenu(href='javascript:void(0);') Extra Pages
                  ul
                    li
                      a(href='header-2.html') Header Style 2
                    li
                      a(href='header-3.html') Header Style 3
                    li
                      a(href='header-4.html') Header Style 4
                    li
                      a(href='header-5.html') Header Style 5
                    li
                      a(href='404.html') 404 Page
                    li
                      a(href='sign-in-modal.html') Sign In Modal
                    li
                      a(href='contacts.html') Contact Us
                    li
                      a(href='about.html') About 1
                    li
                      a(href='about-2.html') About 2
                    li
                      a(href='modal-advertise.html') Modal Advertise
                    li
                      a(href='modal-newsletter.html') Modal Newsletter
                li
                  a(href='blog.html') Blog
                li
                  a(href='#0') Buy Template
            // /main-menu
          .col-xl-3.col-lg-2.d-lg-flex.align-items-center.justify-content-end.text-right
            a.phone_top(href='tel://9438843343')
              strong
                span Need Help?
                | +94 423-23-221
        // /row
    // /main_header
    .main_nav.inner.Sticky
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.col-md-3
            nav.categories
              ul.clearfix
                li
                  span
                    a(href='#')
                      span.hamburger.hamburger--spin
                        span.hamburger-box
                          span.hamburger-inner
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Categories
                  #menu
                    ul
                      li
                        span
                          a(href='#0') Collections
                        ul
                          li
                            a(href='listing-grid-1-full.html') Trending
                          li
                            a(href='listing-grid-2-full.html') Life style
                          li
                            a(href='listing-grid-3.html') Running
                          li
                            a(href='listing-grid-4-sidebar-left.html') Training
                          li
                            a(href='listing-grid-5-sidebar-right.html') View all Collections
                      li
                        span
                          a(href='#') Men
                        ul
                          li
                            a(href='listing-grid-6-sidebar-left.html') Offers
                          li
                            a(href='listing-grid-7-sidebar-right.html') Shoes
                          li
                            a(href='listing-row-1-sidebar-left.html') Clothing
                          li
                            a(href='listing-row-3-sidebar-left.html') Accessories
                          li
                            a(href='listing-row-4-sidebar-extended.html') Equipment
                      li
                        span
                          a(href='#') Women
                        ul
                          li
                            a(href='listing-grid-1-full.html') Best Sellers
                          li
                            a(href='listing-grid-2-full.html') Clothing
                          li
                            a(href='listing-grid-3.html') Accessories
                          li
                            a(href='listing-grid-4-sidebar-left.html') Shoes
                      li
                        span
                          a(href='#') Boys
                        ul
                          li
                            a(href='listing-grid-6-sidebar-left.html') Easy On Shoes
                          li
                            a(href='listing-grid-7-sidebar-right.html') Clothing
                          li
                            a(href='listing-row-3-sidebar-left.html') Must Have
                          li
                            a(href='listing-row-4-sidebar-extended.html') All Boys
                      li
                        span
                          a(href='#') Girls
                        ul
                          li
                            a(href='listing-grid-1-full.html') New Releases
                          li
                            a(href='listing-grid-2-full.html') Clothing
                          li
                            a(href='listing-grid-3.html') Sale
                          li
                            a(href='listing-grid-4-sidebar-left.html') Best Sellers
                      li
                        span
                          a(href='#') Customize
                        ul
                          li
                            a(href='listing-row-1-sidebar-left.html') For Men
                          li
                            a(href='listing-row-2-sidebar-right.html') For Women
                          li
                            a(href='listing-row-4-sidebar-extended.html') For Boys
                          li
                            a(href='listing-grid-1-full.html') For Girls
          .col-xl-6.col-lg-7.col-md-6.d-none.d-md-block
            .custom-search-input
              input(type='text' placeholder='Search over 10.000 products')
              button(type='submit')
                i.header-icon_search_custom
          .col-xl-3.col-lg-2.col-md-3
            ul.top_tools
              li
                .dropdown.dropdown-cart
                  a.cart_bt(href='cart.html')
                    strong 2
                  .dropdown-menu
                    ul
                      li
                        a(href='product-detail-1.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/1.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Air x Fear
                            | $90.00
                        a.action(href='#0')
                          i.ti-trash
                      li
                        a(href='product-detail-1.html')
                          figure
                            img.lazy(src='img/products/product_placeholder_square_small.jpg' data-src='img/products/shoes/thumb/2.jpg' alt='' width='50' height='50')
                          strong
                            span 1x Armor Okwahn II
                            | $110.00
                        a.action(href='0')
                          i.ti-trash
                    .total_drop
                      .clearfix
                        strong Total
                        span $200.00
                      a.btn_1.outline(href='cart.html') View Cart
                      a.btn_1(href='checkout.html') Checkout
                // /dropdown-cart
              li
                a.wishlist(href='#0')
                  span Wishlist
              li
                .dropdown.dropdown-access
                  a.access_link(href='account.html')
                    span Account
                  .dropdown-menu
                    a.btn_1(href='account.html') Sign In or Sign Up
                    ul
                      li
                        a(href='track-order.html')
                          i.ti-truck
                          | Track your Order
                      li
                        a(href='account.html')
                          i.ti-package
                          | My Orders
                      li
                        a(href='account.html')
                          i.ti-user
                          | My Profile
                      li
                        a(href='help.html')
                          i.ti-help-alt
                          | Help and Faq
                // /dropdown-access
              li
                a.btn_search_mob(href='javascript:void(0);')
                  span Search
              li
                a.btn_cat_mob(href='#menu')
                  #hamburger.hamburger.hamburger--spin
                    .hamburger-box
                      .hamburger-inner
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Categories
        // /row
      .search_mob_wp
        input.form-control(type='text' placeholder='Search over 10.000 products')
        input.btn_1.full-width(type='submit' value='Search')
      // /search_mobile
    // /main_nav
  // /header
  main.bg_gray
    #track_order
      .container
        .row.justify-content-center.text-center
          .col-xl-7.col-lg-9
            img.img-fluid.add_bottom_15(src='img/track_order.svg' alt='' width='200' height='177')
            p Quick Tracking Order
            form
              .search_bar
                input.form-control(type='text' placeholder='Invoice ID')
                input(type='submit' value='Search')
        // /row
      // /container
    // /track_order
    .bg_white
      .container.margin_60_35
        .main_title
          h2 New Entries
          span Products
          p Cum doctus civibus efficiantur in imperdiet deterruisset.
        .owl-carousel.owl-theme.products_carousel
          .item
            .grid_item
              span.ribbon.new New
              figure
                a(href='product-detail-1.html')
                  img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/4.jpg' alt='')
              a(href='product-detail-1.html')
                h3 ACG React Terra
              .price_box
                span.new_price $110.00
              ul
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                    i.ti-heart
                    span Add to favorites
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                    i.ti-control-shuffle
                    span Add to compare
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                    i.ti-shopping-cart
                    span Add to cart
            // /grid_item
          // /item
          .item
            .grid_item
              span.ribbon.new New
              figure
                a(href='product-detail-1.html')
                  img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/5.jpg' alt='')
              a(href='product-detail-1.html')
                h3 Air Zoom Alpha
              .price_box
                span.new_price $140.00
              ul
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                    i.ti-heart
                    span Add to favorites
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                    i.ti-control-shuffle
                    span Add to compare
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                    i.ti-shopping-cart
                    span Add to cart
            // /grid_item
          // /item
          .item
            .grid_item
              span.ribbon.hot Hot
              figure
                a(href='product-detail-1.html')
                  img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/8.jpg' alt='')
              a(href='product-detail-1.html')
                h3 Air Color 720
              .price_box
                span.new_price $120.00
              ul
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                    i.ti-heart
                    span Add to favorites
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                    i.ti-control-shuffle
                    span Add to compare
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                    i.ti-shopping-cart
                    span Add to cart
            // /grid_item
          // /item
          .item
            .grid_item
              span.ribbon.off -30%
              figure
                a(href='product-detail-1.html')
                  img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/2.jpg' alt='')
              a(href='product-detail-1.html')
                h3 Okwahn II
              .price_box
                span.new_price $90.00
                span.old_price $170.00
              ul
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                    i.ti-heart
                    span Add to favorites
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                    i.ti-control-shuffle
                    span Add to compare
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                    i.ti-shopping-cart
                    span Add to cart
            // /grid_item
          // /item
          .item
            .grid_item
              span.ribbon.off -50%
              figure
                a(href='product-detail-1.html')
                  img.img-fluid.lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
              a(href='product-detail-1.html')
                h3 Air Wildwood ACG
              .price_box
                span.new_price $75.00
                span.old_price $155.00
              ul
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                    i.ti-heart
                    span Add to favorites
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                    i.ti-control-shuffle
                    span Add to compare
                li
                  a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                    i.ti-shopping-cart
                    span Add to cart