<!-- START APP HEADER -->
<div class="app-header">
    <ul class="app-header-buttons visible-mobile">
        <li><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>                    
    </ul>
    <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>

    <ul class="app-header-buttons pull-right">
        <li><a href="#" class="btn btn-link btn-icon"><span class="icon-cog"></span></a></li>
        <li><a href="#" class="btn btn-link btn-icon"><span class="icon-paste"></span></a></li>
    </ul>                
</div>
<!-- END APP HEADER  -->