<!-- START APP HEADER -->
<div class="app-header">
    <ul class="app-header-buttons">
        <li class="visible-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left"><span class="icon-menu"></span></a></li>
        <li class="hidden-mobile"><a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left"><span class="icon-list4"></span></a></li>
    </ul>    

    <ul class="app-header-buttons pull-right">
        <li><a href="#" class="btn btn-link btn-icon"><span class="icon-cog"></span></a></li>
        <li><a href="#" class="btn btn-link btn-icon"><span class="icon-paste"></span></a></li>
    </ul>                
</div>
<!-- END APP HEADER  -->