<!-- START APP HEADER -->
<div class="app-header">
    <ul class="app-header-buttons visible-mobile">
        <li><a href="#" class="btn btn-link btn-icon" data-header-navigation-toggle="true"><span class="icon-menu"></span></a></li>                    
    </ul>
    <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>
    
    <div class="app-header-navigation app-header-navigation-hover">
        <nav>
            <ul>
                <li><a href="#">Simple Link</a></li>                
                <li>
                    <a href="#">Sublevels</a>
                    <ul>
                        <li><a href="#">Sublevel item 1</a></li>
                        <li><a href="#">Sublevel item 2</a></li>
                        <li><a href="#">Sublevel item 3</a></li>
                        <li><a href="#">Sublevel item 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Megamenu</a>
                    <div class="app-header-navigation-megamenu">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="list-group list-group-condensed">
                                    <div class="list-group-title">Megamenu title 1-2</div>
                                    <a href="#" class="list-group-item">Navigation item 1</a>
                                    <a href="#" class="list-group-item">Navigation item 2</a>
                                    <div class="list-group-title">Megamenu title 3-5</div>
                                    <a href="#" class="list-group-item">Navigation item 3</a>
                                    <a href="#" class="list-group-item">Navigation item 4</a>                                                                                
                                    <a href="#" class="list-group-item">Navigation item 5</a> 
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="list-group list-group-condensed">
                                    <div class="list-group-title">Megamenu title 1-3</div>
                                    <a href="#" class="list-group-item">Navigation item 1</a>
                                    <a href="#" class="list-group-item">Navigation item 2</a>
                                    <a href="#" class="list-group-item">Navigation item 3</a>
                                    <div class="list-group-title">Megamenu title 4-5</div>
                                    <a href="#" class="list-group-item">Navigation item 4</a>                                                                                
                                    <a href="#" class="list-group-item">Navigation item 5</a> 
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="list-group list-group-condensed">
                                    <div class="list-group-title">Megamenu title 1</div>
                                    <a href="#" class="list-group-item">Navigation item 1</a>                                    
                                    <div class="list-group-title">Megamenu title 2-5</div>
                                    <a href="#" class="list-group-item">Navigation item 2</a>
                                    <a href="#" class="list-group-item">Navigation item 3</a>
                                    <a href="#" class="list-group-item">Navigation item 4</a>
                                    <a href="#" class="list-group-item">Navigation item 5</a> 
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="list-group list-group-condensed">
                                    <div class="list-group-title">Megamenu title 1-4</div>
                                    <a href="#" class="list-group-item">Navigation item 1</a>                                                                        
                                    <a href="#" class="list-group-item">Navigation item 2</a>
                                    <a href="#" class="list-group-item">Navigation item 3</a>                                    
                                    <a href="#" class="list-group-item">Navigation item 4</a>
                                    <div class="list-group-title">Megamenu title 5</div>
                                    <a href="#" class="list-group-item">Navigation item 5</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END APP HEADER  -->