<!-- START APP FOOTER -->
<div class="app-footer app-footer-default" id="footer">

    <div class="alert alert-primary alert-dismissible alert-inside text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="icon-cross"></span></button>
        We use cookies to offer you the best experience on our website. Continuing browsing, you accept our cookies policy.
    </div>

    <div class="app-footer-line extended">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <h3 class="title"><img src="/img/logo-footer.png" alt="boooyah"> Boooya</h3>                            
                <p>The innovation in admin template design. You will save hundred hours while working with our template. That is based on latest technologies and understandable for all.</p>
                <p><strong>How?</strong><br>This template included with thousand of best components, that really help you to build awesome design.</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <h3 class="title"><span class="icon-clipboard-text"></span> About Us</h3>
                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>                                                                
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Why use us?</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4">                            
                <h3 class="title"><span class="icon-lifebuoy"></span> Need Help?</h3>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>                                                                
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 clear-mobile">
                <h3 class="title"><span class="icon-reading"></span> Latest News</h3>

                <div class="row app-footer-articles">
                    <div class="col-md-3 col-sm-4">
                        <img src="/assets/images/preview/img-1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <a href="#">Best way to increase vocabulary</a>
                        <p>Quod quam magnum sit fictae veterum fabulae declarant, in quibus tam multis.</p>
                    </div>
                </div>

                <div class="row app-footer-articles">
                    <div class="col-md-3 col-sm-4">
                        <img src="/assets/images/preview/img-2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <a href="#">Best way to increase vocabulary</a>
                        <p>In quibus tam multis tamque variis ab ultima antiquitate repetitis tria.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-sm-6">
                <h3 class="title"><span class="icon-thumbs-up"></span> Social Media</h3>

                <a href="#" class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg">
                    <i class="fa fa-youtube"></i>
                </a>
                <a href="#" class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg">
                    <i class="fa fa-feed"></i>
                </a>

                <h3 class="title"><span class="icon-paper-plane"></span> Subscribe</h3>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-mail...">
                    <div class="input-group-btn">
                        <button class="btn btn-primary">GO</button>
                    </div>
                </div> 
            </div>                        
        </div>                    
    </div>
    <div class="app-footer-line darken">                
        <div class="copyright wide text-center">&copy; 2016 Boooya. All right reserved in the Ukraine and other countries.</div>                
    </div>
</div>
<!-- END APP FOOTER -->