<!-- START APP HEADER -->
<div class="app-header">
    <div class="container container-boxed">
        <ul class="app-header-buttons visible-mobile">
            <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span class="icon-menu"></span></a></li>                    
        </ul>
        <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>

        <ul class="app-header-buttons pull-right">
            <li>
                <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls">
                    <img src="assets/images/users/user_1.jpg" alt="John Doe">
                    <div class="contact-container">
                        <a href="#">John Doe</a>
                        <span>Administrator</span>
                    </div>
                    <div class="contact-controls">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default btn-icon" data-toggle="dropdown"><span class="icon-cog"></span></button>                        
                            <ul class="dropdown-menu dropdown-left">
                                <li><a href="#"><span class="icon-cog"></span> Settings</a></li> 
                                <li><a href="#"><span class="icon-envelope"></span> Messages <span class="label label-danger pull-right">+24</span></a></li>
                                <li><a href="#"><span class="icon-users"></span> Contacts <span class="label label-default pull-right">76</span></a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="icon-exit-right"></span> Log Out</a></li> 
                            </ul>
                        </div>                    
                    </div>
                </div>
            </li>        
        </ul>
    </div>
</div>
<!-- END APP HEADER  -->