<div class="app-navigation-horizontal margin-bottom-15">    
    <div class="container container-boxed">
        <nav>
            <ul>
                <li>
                    <a href="#"><span class="icon-earth"></span> Main</a>
                    <ul>
                        <li><a href="pages-blog-main.html">Variant 1</a></li>                        
                        <li><a href="pages-blog-main-2.html">Variant 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-sync"></span> Category</a>
                    <ul>
                        <li><a href="pages-blog-category.html">Right Sidebar</a></li>
                        <li><a href="pages-blog-category-2.html">Left Sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="icon-cog"></span> Single</a>
                    <ul>
                        <li><a href="pages-blog-single.html">Variant 1</a></li>                        
                    </ul>
                </li>                
            </ul>
        </nav>
    </div>
</div>