<div class="app-accordion" data-type="full-height">
    <div class="item open">
        <div class="heading">
            <div class="title">Section 1</div>
        </div>
        <div class="content scroll">
            <div class="block">                                                        
                <div class="app-heading app-heading-condensed app-heading-small">                    
                    <div class="title">
                        <h2>First Accordion Container</h2>
                        <p>Curabitur sollicitudin porttitor erat</p>
                    </div>                                            
                </div>
                Integer viverra ligula placerat mi fermentum malesuada. Aenean eu tempor velit. Fusce iaculis turpis est, ut faucibus arcu ullamcorper eu.
                
            </div>
        </div>
    </div>
    <div class="item open">
        <div class="heading">
            <div class="title">Section 2</div>
        </div>
        <div class="content scroll">
            <div class="block">
                <div class="app-heading app-heading-condensed app-heading-small">                    
                    <div class="title">
                        <h2>Second Accordion Container</h2>
                        <p>Curabitur sollicitudin porttitor erat</p>
                    </div>                                            
                </div>
                Nulla facilisi. Aenean venenatis venenatis elementum. Integer fringilla, orci vitae mollis dignissim, dui velit ullamcorper massa, a scelerisque leo felis non tellus. Nullam vitae est sed ante volutpat tempor eget nec sapien. Fusce gravida, nibh in ornare consectetur, neque ligula consequat tellus, eu consectetur ipsum neque ut dui.
            </div>
        </div>
    </div>
    <div class="item open">
        <div class="heading">
            <div class="title">Section 3</div>
        </div>
        <div class="content scroll">
            <div class="block">
                <div class="app-heading app-heading-condensed app-heading-small">                    
                    <div class="title">
                        <h2>Third Accordion Container</h2>
                        <p>Curabitur sollicitudin porttitor erat</p>
                    </div>                                            
                </div>
                Morbi pulvinar pellentesque velit, nec pharetra urna consectetur sed. Vestibulum sed eros rhoncus enim fermentum ultricies tincidunt ac orci.
            </div>
        </div>
    </div>
</div>